[user]
    name = Les Orchard
    email = lorchard@mozilla.com
    # signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIb6nyyiCVKrqpN7dCKINYKQ5pmibItXssK4Hv+XsQxY lorchard@Lucien.local
    # email = me@lmorchard.com
[core]
    whitespace = -trailing-space
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[pack]
    threads = 0
[diff]
    renamelimit = 0
[alias]
    st = -p status
    ci = commit
    br = branch
    co = checkout
    df = diff
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
    cp = cherry-pick
[push]
    default = simple
    autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[gpg "ssh"]
	allowedSignersFile = /Users/lorchard/.ssh/allowed_signers
#[commit]
#	gpgsign = true
#[gpg]
#	format = ssh
